@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  color: black;
  background-color: RGB(192, 231, 252);
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

/* ================ TITLE SCREEN ============= */

h1 {
  font-size: 40px;
  color: #2d2deb;
  font-weight: 900;
  letter-spacing: 4px;
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-height: 260px;
  min-height: 200px;
  width: 60%;
  border-radius: 25px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 5px #2d2deb, -3px -3px 5px #2d2deb;
}



#btn-play {
  background-color: #2d2deb;
  width: 200px;
  height: 75px;
  text-align: center;
  font-size: 25px;
  border-radius: 25px;
  margin-top: 50px;
  letter-spacing: 5px;
  font-weight: bold;
}

#btn-play:hover{
  box-shadow: 10px 5px 5px grey;
}

.btns > button {
  margin: 40px;
  padding: 18px 35px;
  background-color: #2d2deb;
  border-radius: 25px;
  color: white;
  font-size: 18px;
}

.btns > button:hover {
  box-shadow: 10px 5px 5px grey;
}

/* ================ TITLE SCREEN ============= */

/*  ================= TOP BAR ================ */

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: white;
  box-shadow: 3px 3px 5px #2d2deb;
}

.life-screen{
 display: flex;
}

.fas {
  margin-right: 10px;
}

/*  ================= TOP BAR ================ */

#game {
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

h2 {
  padding: 10px;
  color: #2d2deb;
}

#catdif {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 30px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #2d2deb, -3px -3px 5px #2d2deb;
  margin: 25px 0px 25px 0px;
}

#category, #difficulty {
  color: black;
  font-weight: normal;
}


#catdif > p {
  font-weight: bold;
  color: #2d2deb;
  padding: 10px;
}

#question-box {
  padding: 20px;
  text-align: center;
}

.question-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: white;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 3px 3px 30px #2d2deb, -3px -3px 30px #2d2deb;
  text-align: center;
}

.answer-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 50em;
  min-width: 10em;
  border-radius: 25px;
  padding: 30px;
}

#answers-boxes {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-around;
}

.single-answer {
  flex: 0 40%;
  text-align: center;
  margin : 15px 20px;
  width: 100%;
  background-color: #2d2deb;
  border-radius: 25px;
  color: white;
  padding: 10px;
}

#answers-boxes > p:hover {
  box-shadow: 10px 5px 5px grey;
}

.is-hidden-button {
  visibility: hidden;
}

footer {
  background-color: white;
  height: 3vh;
  text-align: center;
  box-shadow: -3px -3px 5px #2d2deb;
}

footer > p{
  padding: 5px;
}
